<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>
        {% block title %}
        CatDadMom
        {% endblock %}
    </title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>
