{% extends 'base.html' %}

{% block title %}
    로그인
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cat1.css') }}"/>
{% endblock %}

{% block body %}
    <section class="login">
        <header>
            <h1>{% block formtitle %}{% endblock %}</h1>
        </header>
        <div class="cat-box">
            <div class="cont-box-rotate-left"></div>
            <div class="cont-box-rotate-left-inner"></div>
            <div class="cont-box-rotate-right"></div>
            <div class="cont-box-rotate-right-inner"></div>
            <div class="left-eye-wrap"></div>
            <div class="left-eye"></div>
            <div class="left-eye-inner"></div>
            <div class="right-eye-wrap"></div>
            <div class="right-eye"></div>
            <div class="right-eye-inner"></div>
            <div class="moustache left-moustache-1"></div>
            <div class="moustache left-moustache-2"></div>
            <div class="moustache left-moustache-3"></div>
            <div class="moustache right-moustache-1"></div>
            <div class="moustache right-moustache-2"></div>
            <div class="moustache right-moustache-3"></div>
            <div class="nose"></div>
            <div class="nose-philtrum"></div>
            <div class="mouse"></div>
            <div class="login-box">
                {% block form %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}
