{% extends 'form_base.html' %}

{% block title %}
회원 가입
{% endblock %}

{% block formtitle %}
캣댓맘 회원가입!
{% endblock %}
{% block form %}
    <form action="{{ url_for('user.signup') }}" method="POST" role="form">
        <input type="email" class="login-control" id="email" name="email" placeholder="이메일">
        <input type="text" class="login-control" id="login" name="login" placeholder="아이디">
        <input type="password" class="login-control" id="password" name="password" placeholder="패스워드">
        <div>
            <button type="submit" class="btn btn-default">회원가입</button>
        </div>
    </form>
{% endblock %}

