html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    font-family: 'Nanum Gothic', serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
}

body {
    background-color: #F8F8F8;
}

h1 a,
h1 a:link,
h1 a:hover {
    color: #fff;
    text-decoration: none;
}

.login > header > h1 {
    text-align: center;
    font-size: 50px;
    line-height: 200px;
    background-color: #00C5B1;
}

.cat-box {
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding: 10px;
    width: 700px;
    height: 500px;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -350px;
}

.cat-box .login-box {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    background-color: #ccc;
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cat-box .login-control {
    width: 80%;
    border: 0;
    padding: 10px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    color: #000;
}

.cat-box .btn {
    width: 25%;
    background-color: #00C5B1;
    border-color: #00C5B1;
    color: #fff;
}

.cont-box-rotate-left {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 100px;
    width: 0;
    height: 0;
    position: absolute;
    top: -150px;
    left: 5px;
}

.cont-box-rotate-left-inner {
    border-color: transparent transparent #000 transparent;
    border-style: solid;
    border-width: 25px;
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    left: 80px;
}

.cont-box-rotate-right {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 100px;
    width: 0;
    height: 0;
    position: absolute;
    top: -150px;
    right: 5px;
}

.cont-box-rotate-right-inner {
    border-color: transparent transparent #000 transparent;
    border-style: solid;
    border-width: 25px;
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    right: 80px;
}

.left-eye-wrap {
    background: #fff;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 150px;
    border: 1px solid #000;
}

.left-eye {
    background: #000;
    border-radius: 100px;
    width: 40px;
    height: 75px;
    position: absolute;
    top: 32px;
    left: 170px;
}

.left-eye-inner {
    background: #fff;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 35px;
    left: 190px;
}


.right-eye-wrap {
    background: #fff;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    right: 150px;
    border: 1px solid #000;
}

.right-eye {
    background: #000;
    border-radius: 100px;
    width: 40px;
    height: 75px;
    position: absolute;
    top: 32px;
    right: 170px;
}

.right-eye-inner {
    background: #fff;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 35px;
    right: 190px;
}

.moustache {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 10px;
    background: #000;
}

.left-moustache-1 {
    top: 150px;
    left: -50px;
}

.left-moustache-2 {
    top: 170px;
    left: -50px;
}

.left-moustache-3 {
    top: 190px;
    left: -50px;
}

.right-moustache-1 {
    top: 150px;
    right: -50px;
}

.right-moustache-2 {
    top: 170px;
    right: -50px;
}

.right-moustache-3 {
    top: 190px;
    right: -50px;
}

.nose {
    border-color: #000 transparent transparent transparent;
    border-style: solid;
    border-width: 30px;
    width: 0;
    height: 0;
    position: absolute;
    top: 110px;
    left: 335px;
}

.nose-philtrum {
    width: 0;
    height: 100px;
    position: absolute;
    top: 115px;
    left: 363px;
    border: 2px solid #000;
}

.mouse {
    width: 80px;
    height: 25px;
    border-radius: 100px;
    top: 193px;
    left: 325px;
    border-color: transparent #000 #000 #000;
    border-style: solid;
    border-width: 3px;
    position: absolute;
}